@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(36, 36, 36);
  color: #fbfbfb;
}
.banner {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: lightgrey;
  margin-bottom: 50px;
}
.mbappe {
  max-width: 250px;
  margin-top: 100px;
}
.messi {
  max-width: 150px;
  margin: 100px 100px 0px 0px;
}
.b-title {
  font-size: 70px;
  margin-top: 100px;
  font-style: italic;
  text-align: center;
}
.b-text {
  font-size: 20px;
  text-align: center;
  margin: 20px 100px;
}
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0px 100px;
  gap: 20px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.single-player {
  border: 1px solid lightgray;
}
.players img {
  max-width: 100%;
}
.info {
  padding: 25px;
  line-height: 30px;
  text-align: center;
}
.info span {
  padding: 0px 5px;
  color: #8a8a8a;
}
button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  background-color: #015196;
  color: white;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 16px;
}

.selected {
  background-color: black;
  color: lightgray;
  padding: 20px;
  text-align: center;
}
ol {
  margin: 10px 50px;
}
li {
  padding: 10px 0px;
}
.calculate {
  background-color: black;
  color: lightgray;
  padding: 20px;
  text-align: center;
  line-height: 25px;
  margin-top: 50px;
}
.calculate h4,
h2 {
  margin: 20px 0px;
}

.calculate input {
  margin: 20px 0px;
  padding: 10px;
}
label {
  width: 100%;
  display: inline-block;
}
.btn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: #015196;
  color: white;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 16px;
}
footer p {
  margin-top: 100px;
  text-align: center;
  padding: 50px;
  border-top: 2px solid gray;
}

/* --------------media-query---------------- */

@media screen and (min-width: 700px) {
  body {
    background-color: lightgreen;
  }
}
